.faction-window > .reaction-table {
	min-width: 100%;
	text-align: left;
	border-spacing: 0;
}

.faction-window > .reaction-table input {
	width: 4em;
}

.faction-window > .reaction-table tr {
	background-color: #fff;
}

.faction-window > .reaction-table thead th, .faction-window > .reaction-table tbody th {
	position: sticky;
	background-color: inherit;
}

.faction-window > .reaction-table thead th {
	top: 0;
	border-bottom: 1px solid black;
}

.faction-window > .reaction-table tbody th {
	left: 0;
}

.faction-window > .reaction-table td, .faction-window > .reaction-table th {
	padding: 2px 4px;
}

.faction-window > .reaction-table td:nth-of-type(2n), .faction-window > .reaction-table thead th, .faction-window > .reaction-table tbody th:last-of-type {
	border-right: 1px solid black;
}

.faction-window > .reaction-table th {
	white-space: nowrap;
}

.faction-window > .reaction-table > tbody > tr:nth-of-type(2n) {
	background-color: #f0f0f0;
}

.faction-window .different-reaction {
	background-color: rgba(255, 0, 0, 0.5);
}

.faction-window .same-reaction {
	background-color: rgba(0, 255, 0, 0.5);
}

.deprecated {
	color: red;
	text-decoration: line-through;
}
